@import url('https://rsms.me/inter/inter.css');

html {
  background-color: #E5E5E5;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

.content-container {
  display: flex;
}


@media only screen and (max-width: 800px) {
  .content-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}