aside {
  display: flex;
  flex-direction: column;
  width: 100%;
}

h1 {
  font-weight: 600;
  font-size: 32px;
  line-height: 130%;
  margin: 28px 0 29px;
}

.repos-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 520px;
}

@media only screen and (max-width: 800px) {
  h1 {
    display: flex;
    justify-content: center;
    margin: 48px 0 29px;
  }
}