header {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  height: 72px;
  background-color: #0064EB;
}

.logo {
  width: 40.98px;
  height: 40px;
  padding: 0;
  margin: 0 22.02px 0 41px;
  background-image: url("./logo.png");
  background-size: cover;
}

.logo:hover {
  cursor: pointer;
  background-color: #0064EB;
  opacity: .775;
}

.search-bar {
  width: 500px;
  height: 40px;
  background: #fff;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 472px;
  display: flex;
  align-items: center;
}

.submit-button {
  width: 14px;
  height: 14px;
  padding: 0;
  margin: 5px 11px 5px 5px;
  background-image: url("./index.png");
  background-size: cover;
  background-color: #fff;
}

.submit-button:hover {
  cursor: pointer;
}

input {
  width: 256px;
  height: 24px;
  border: none;
  padding: 0;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.01em;
}

@media only screen and (min-width: 0px) and (max-width: 360px) {
  form {
    width: 180px;
  }

  .search-bar {
    width: 200px;
  }

  input {
    width: 150px;
  }

  .logo {
    margin: 0;
  }

  header {
    align-items: center;
    justify-content: center;
    gap: 22.02px;
  }
}

@media only screen and (min-width: 370px) and (max-width: 790px) {
  form {
    width: 240px;
  }

  .search-bar {
    width: 260px;
  }

  input {
    width: 210px;
  }

  .logo {
    margin: 0;
  }

  header {
    align-items: center;
    justify-content: center;
    gap: 22.02px;
  }
}